.heading-primary {
    color:$color-white;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    /*SOLVES A SMALL ONLOAD ANIMATION ISSUE---*/
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;

        @include respond(phone) { 
            letter-spacing: 1.2rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-size: 2.0rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 2.5s;
        animation-timing-function: ease-out;
        animation-delay: .75s;
        animation-fill-mode: backwards;

        @include respond(phone) { 
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;

    @include respond(tablet-portrait) { 
        font-size: 3rem;
    }

    @include respond(phone) { 
        font-size: 2.5rem;
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    hyphens: auto;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

