.section-about {
    background-color: $color-grey-light-1;
    padding: 28rem 0;
    margin-top: -20vh;

    @include respond(tablet-portrait) { 
        padding: 28rem 1rem 49rem 1rem;
    }
    @include respond(phone) { 
        padding: 20rem 1rem 50rem 1rem;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -20vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light,0.4),
        rgba($color-primary-dark,0.4)),
    url('../img/nat-4.jpg');
    background-size: cover;
    // background-position: top;
    // position: relative;
    //clip-path: polygon(0 20%,100% 0,100% 80vh,0 100%);
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }

    @media (min-resolution: 192dpi) and (min-width: 37.5em), //192dpi = DPR:2 = 2x
            (min-width: 125em) { 
        background-image: linear-gradient(
        to right bottom, 
        rgba($color-secondary-light,0.4),
        rgba($color-secondary-dark,0.4)),
        url('../img/nat-4-small.jpg');
    }

    @include respond(tablet-portrait) { 
        padding: 11rem 0;
    }
}
// > * --> all direct children

.section-tours {
    background-color: $color-grey-light-1;
    padding: 32rem 0 20rem 0;
    margin-top: -20vh;

    @include respond(tablet-portrait) { 
        padding: 30rem 0 5rem 0;
    }
    @include respond(phone) { 
        padding: 28rem 0 5rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tablet-portrait) { 
        padding: 5rem 0;
    }
}

.section-booking {
    padding: 15rem 0;
    background-image: linear-gradient(
        to right bottom, $color-primary-light, $color-primary-dark);
    
    transition: all 5s;

    @include respond(tablet-portrait) { 
        padding: 8rem 0;
    }
}


